html{
    scroll-behavior: smooth;
}
body{
    background: whitesmoke;
    margin: 0;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
background-size: cover;
background-position: center;

   
    
}
.header {
    background-color: #46bdc5;
    min-height: 100vh;
    max-height: 100vh;
    padding-top: 50vh;
    text-align: center;
  }
  .header #logo {
    font-size: 120px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #267a80;
    font-weight: 900;
  }

.nav div{
    height: 4px;
    background-color : white;
    margin: 5px 0;
    border-radius: 100px;
    transition: 0.3s;

}

.nav{
    width: 30px;
    display: block;
    margin: 1em 0 0 1em;
}
.one {
    width: 30px;
}
.two{
    width: 20px;
}
.three{
    width: 30px;
}
.nav:hover div{
    width: 30px;
}

h1{
    text-align: center;
    
    line-height: 48px;
    background: black;
    color: aquamarine;
    margin-top: 5%;
}
img{
    margin-left: auto;
    margin-right: auto;

border: 5px solid navy;
padding: 5px;  
    
}
.section{
    
    max-width: 100vw;
}
  

p{
    
    text-align: initial;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: lawngreen;
    background: lightgrey;
   
   
}
h2{
    text-align: start;
    margin: 5%;
    text-underline-position: above;
    font-style: italic;
    
}
h3{
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    text-decoration: underline;
    background: black;
    color:aquamarine;
    
    
}
h4{
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    background: black;
    color: red;
    margin-top: 5%;
}
h5{
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    background:aquamarine;
    color:black;
    margin-top: 5%;
}
h6{
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    background:skyblue;
    color:blue;
    margin-top: 5%;
}
li{
    font-size: 36px;
    text-emphasis-color: white;
    text-align: inherit;
    font-family: cursive;
    text-decoration: underline;
    font-weight: bold;
}
   



