body{
    background: mistyrose;
   
    text-decoration: khaki;
}
h1{
    text-align: center;
    
    line-height: 48px;
    background: black;
    color: aquamarine;
    margin-top: 5%;
}
img{
    image-orientation: flip;
    margin-left: auto;
    margin-right: auto;
    
}

p{
    
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10vh;
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: lawngreen;
    background: lightgrey;
   background-position:start;
   background-size: 5px;
   background-position-y: 0rem;
}
h2{
    text-align: start;
    margin: 5%;
    text-underline-position: above;
    font-style: italic;
    
}
h3{
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    text-decoration: underline;
    background: black;
    color:aquamarine;
    
}
li{
    font-size: 36px;
    text-align: inherit;
    font-family: cursive;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 3%;
}




