html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: whitesmoke;
    margin: 0;
    padding: 0;
    width: 100%;
    
}
.logo{
    border: none;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(148,48,48,0.2),rgba(167,67,67,0.4)),
    url(background2.jpg) center no-repeat;
    background-size: cover;

}
.navbar{
    width: 300px;
    height: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;

}

.hamburger-menu{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.line {
    width: 30px;
    height: 3px;
    background-color: chocolate;
}

.line-1{
    transform: rotateZ(-45deg) translate(-8px, 6px);
}
.line-2{
    opacity: 0;
}
.line-3{
     transform: rotateZ(45deg) translate(-8px, -6px);
}

.nav-list{
    text-align: right;

}
.nav-item{
    list-style: none;
    margin: 25px;
}
.nav-link{
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}

.nav-link::before,
.nav-link::after{
    content: "";
    width: 100% ;
    height: 2px;
    background-color: chocolate;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.nav-link::after{
    bottom: 0;
    transform-origin: right;
}

.nav-link::before{
    top: 0;
    transform-origin: left;
}
.nav-link:hover::before,
.nav-link::after{
    transform: scaleX(1);
}
   .contact-form{
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
     -ms-transform: translate(-50%,-50%);
     -o-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
     width: 400px;
     height: 500px;
     padding: 80px 40px;
     background:rgba(0,0,0,0.6) ;
   }
   .avatar{
       position: absolute;
       width: 80px;
       height: 80px;
       border-radius: 50%;
       overflow: hidden;
       top: calc(-80px/2);
       left: calc(50% - 40px);
   }
    

.contact-form h10{
    margin: 0;
    padding: 0 0 20px;
    color:  #fff;
    text-align: center center;
    text-transform: uppercase;


}
.contact-form p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}
.contact-form input{
    width: 100%;
    margin-bottom: 20px;
}
.contact-form input[type=email] {
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 15px;
}
.contact-form input[type=password]{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 15px;

}
   .contact-form input[type=submit]{
       height: 30px;
       color: #fff;
       font-size: 15px;
       background: red;
       cursor: pointer;
       border-radius: 25px;
       border: none;
       outline: none;
       margin-top: 15%;

   }
 
  



h1{
    text-align: center;
    
    line-height: 48px;
    background: black;
    color: aquamarine;
    margin-top: 5%;
}
img{
    margin-left: auto;
    margin-right: auto;

border: 5px solid navy;
padding: 5px;  
    
}
.section{
    
    max-width: 100vw;
}
  

p{
    
    text-align: initial;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: lawngreen;
    background: lightgrey;
   
   
}
h2{
    text-align: start;
    
    margin: 5%;
    text-underline-position: above;
    font-style: italic;
    
}
h3{
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    text-decoration: underline;
    background: black;
    color:aquamarine;
    
    
}
h4{
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    background: black;
    color: red;
    margin-top: 5%;
}
h5{
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    background:aquamarine;
    color:black;
    margin-top: 5%;
}
h6{
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    background:skyblue;
    color:blue;
    margin-top: 5%;
}
li{
    font-size: 36px;
    
    text-emphasis-color: white;
    text-align: inherit;
    font-family: cursive;
    text-decoration: underline;
    font-weight: bold;
}


h7{
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    background:black;
    color:white;
    margin-top: 5%;
}
h8{
    text-align: center;
    font-size: 34px;
    text-decoration-style: underline;
    
    color:black;
     margin-top: 5%;
}
   

